/MSFS Addon/node_modules/
/MSFS Addon/types/

/MSFS Addon/.rollup.cache/
/MSFS Addon/build/tsconfig.tsbuildinfo
/MSFS Addon/build/_Temp
/MSFS Addon/build/Packages
/MSFS Addon/out
/MSFS Addon/package-lock.json

/vPilot Plugin/.vs
/vPilot Plugin/obj/
/vPilot Plugin/bin/Debug