/MSFS Addon/Build/_Temp
/MSFS Addon/Build/Packages
/MSFS Addon/out
/MSFS Addon/panel-src/build/
/MSFS Addon/node_modules
/MSFS Addon/panel-src/.rollup.cache/
/vPilot Plugin/.vs
/vPilot Plugin/obj/
/vPilot Plugin/bin/Debug